.btn {
	@apply rounded-md text-base leading-4 font-bold transition-all px-10 flex justify-center items-center;
	/* width: 264px; */
	/* min-width: 264px; */
	/* max-width: 264px; */
}
.btn-sm {
	@apply py-4;
}
.btn-md {
	@apply py-7;
}
.btn-lg {
	@apply py-10;
}
.btn-primary {
	@apply text-white bg-primary;
}
.btn-primary:hover, .btn-secondary:hover {
	box-shadow: 0px 11px 16px rgba(75, 116, 235, 0.37);
}
.btn-primary:disabled {
	background-color: #A5B9F5;
	@apply text-gray-700;
}
.btn-primary:disabled:hover, .btn-secondary:disabled:hover {
	@apply cursor-not-allowed shadow-none;
}
.btn-secondary {
	@apply bg-white;
	color: #4B74EB;
	border: 1px solid #4B74EB;
}
.btn-secondary:disabled {
	@apply cursor-not-allowed border-primary text-primary;
}
.btn-tertiary {
	@apply text-primary;
}
.btn-tertiary:disabled {
	color: #A5B9F5;
	@apply cursor-not-allowed;
}