a {
	color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import './typography.css';
	@import '~slick-carousel/slick/slick.css'; 
	@import '~slick-carousel/slick/slick-theme.css';
}

@layer components {
	body {
		@apply overflow-x-hidden antialiased;
	}
	body,
	* {
		scrollbar-width: thin;
		scrollbar-color: rgba(75, 116, 235, 0.5) rgba(124, 120, 208, 0.05);
	}
	body::-webkit-scrollbar,
	*::-webkit-scrollbar {
		width: 8px;
	}
	body::-webkit-scrollbar-track,
	*::-webkit-scrollbar-track {
		background: rgba(124, 120, 208, 0.05);
		border-radius: 20px;
	}
	body::-webkit-scrollbar-thumb,
	*::-webkit-scrollbar-thumb {
		background-color: rgba(75, 116, 235, 0.5);
		border-radius: 20px;
	}
	body::-webkit-scrollbar-thumb:hover,
	*::-webkit-scrollbar-thumb:hover {
		background-color: rgba(75, 116, 235, 1);
	}
  @import './button.css';
	@import './icon.css';
	@import './layout.css';
	@import './image.css';
	@import './header.css';
	@import './footer.css';
	@import './home.css';
}
