.home-d {
	@apply absolute bottom-24 -left-60 md:block hidden;
	width: 400px;
}

.home-hero {
	@apply absolute bottom-6 right-0 lg:-right-4 md:block hidden;
	width: 600px;
	z-index: 0;
}

.why-dellub,
.services-image {
	@apply absolute bottom-0 top-0 right-0 lg:right-0 md:flex hidden;
}
.why-dellub img {
	height: 630px;
}

.why-dellub-item {
	@apply flex flex-col md:flex-row items-center md:items-start pb-10 md:pb-20 relative;
}
.why-dellub:last-of-type {
	@apply pb-20 md:pb-0;
}
.why-dellub-image {
	@apply mr-0 mb-7 md:mr-5 md:mb-0;
	width: 70px;
}
.why-dellub-title {
	@apply mb-3 md:mb-2 block;
}
.why-dellub-dots {
	@apply absolute bottom-4 left-9 md:block hidden;
}
.why-dellub-item:last-of-type .why-dellub-dots {
	@apply hidden;
}

.services-item-image {
	@apply mr-0 mb-7 md:mr-5 md:mb-0;
	width: 36px;
}

.process-dot-custom {
	@apply absolute top-0 bottom-0 -right-7 h-full flex items-center justify-center;
	z-index: 10;
}
.process-dot-custom div {
	@apply flex items-center justify-center bg-white rounded-full;
	width: 52px;
	height: 52px;
}
.process-dot-custom svg {
	@apply fill-current text-primary;
}

.number {
	line-height: 71px;
	background: linear-gradient(90deg, #4B74EB 1.9%, #9BB4FF 54.7%, #9BB4FF 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.process .slick-track,
.process .slick-slider,
.process .slick-list,
.process .slick-slide,
.process .slick-slide > div {
	@apply min-h-full;
}
.process .slick-slide > div,
.process .slick-track {
	@apply flex;
}

.process .slick-slide {
	height: auto;
}

.process .slick-dots {
	@apply -bottom-10 !important;
}

.process .slick-dots li {
	width: 10px !important;
	height: 10px !important;
}

.process .slick-dots button::before {
	content: '' !important;
	width: 10px !important;
	height: 10px !important;
	border-radius: 100% !important;
	@apply bg-gray-300 !important
}
.process .slick-dots .slick-active button::before {
	background: linear-gradient(90deg, #4B74EB 1.9%, #9BB4FF 54.7%, #9BB4FF 100%) !important;
}

.client-image {
	@apply p-4 md:p-10;
	width: 250px;
	transition: all 0.5;
}

.depositions-slider .slick-center div {
	@apply px-4;
}

.deposition {
	@apply bg-white text-black flex flex-col justify-between p-7 rounded-lg !important;
	min-height: 390px;
}
.deposition-quote {
	@apply mb-5;
	width: 60px;
	height: 60px;
}
.deposition-image {
	@apply rounded-full mr-4;
	width: 53px;
	height: 53px;
}

.depositions .slick-slider {
	@apply flex items-center h-full;
}
.arrow-custom {
	@apply flex items-center justify-center rounded-full bg-primary mr-5 cursor-pointer;
	min-width: 42px;
	min-height: 42px;
}
.depositions .slick-slide {
	@apply px-3;
}

@media (max-width: 1140px) {
	.client-image {
		width: 160px;
	}
}