#__next {
	@apply min-h-screen;
}

.layout {
	@apply flex flex-auto flex-col box-border relative;
}

.container-custom {
	@apply max-w-screen-xl mx-auto px-4;
}

.main {
	@apply h-full w-full;
	min-height: calc(100vh - 74px);
}

.min-h-screen-custom {
	min-height: calc(100vh - 74px);
}

@media (max-width: 640px) {
	.min-h-screen-custom {
		min-height: 0px;
	}
	.hero {
		min-height: calc(100vh - 74px);
	}
}